* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

body{
  min-width:980px;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  flex:1 1 auto;
  font-family: 'PT Sans';
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('font/pt-sans-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('font/pt-sans-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.container {
    width: 980px;
    margin: 0 auto;
}
.container1{
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}
.container_content {
  display:flex;
  padding:10px;
  width: 980px;
  margin: 0 auto;
}
.header{
  background-color:#80808033;
}
.div1{
  width: 980px;
  height: 230px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
}
.div2{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}


.img1{
width: 273px;
height: 100px;
padding: 60px 130px;
}
.telnumber{
  display: flex;
  align-self: center;
  font-family: 'PT Sans';
  margin: 0px 125px 0px 0px;
  flex-direction: column;
}
.telnumber p{
  font-family: 'PT Sans';
  font-size: 25px;
  color: grey;
}

.menu_list ul{
	display: flex;
	flex-direction: row;
	list-style: none;
	background: grey;
	height: 80px;
	justify-content: center;
	align-items: center;
}

.menu_list li{
	 display: inline;
}

.menu_list a{
  text-decoration: none;
  font-family: 'PT Sans';
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 0.025em;
  color: #ffffffc4;
}

.menu_list a:hover {
  text-decoration: underline;
}
.swiper-slide{
  height: 300px; 
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.swiper-container{
  position:relative;
  overflow: hidden;
  width:980px;
  margin:0 auto;
}

.background_slider{
  width:100%;
  background-color: #80808033;
}
.swiper-button-next{
  margin-right:100px;
}
.swiper-button-prev{
  margin-left:100px;
}


.breadcrumbs{
  width:100%;
}
.container_breadcrumbs{
    display: flex;
    width: 980px;
    margin: 0 auto;
}
.breadcrumbs li{
  text-decoration: none;
  color:grey;
  font-size:14px;
}

ul.breadcrumb {
  padding: 10px 115px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: grey;
  text-decoration: underline;
}

.catalog{
  width:100%;
}
.leftblock{
  min-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}


.container_block{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    padding:10px;
    width: 980px;
    margin: 0 auto;
}

 .menu a{
text-decoration: none;
color:grey;
}
.sub-menu__link{
  font-size:14px;
}
a.sub-menu__link:hover {
  text-decoration: underline; 
  color:black;
}
.menu li{
  list-style: none;
  font-family: 'PT Sans';
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #767676;
  position: relative;
}
.menu__list{
display: flex;
flex-direction: column;
}
.menu__list a:hover{
  text-decoration: underline; 
}

.sub-menu__list{
 
  display:none;
  left:0;
  top:20px;
}
.menu__list li:hover .sub-menu__list{
  display:block;
}
.another_link li{  
  font-family: 'PT Sans';
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color:black;
}
.price{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  justify-content: flex-start;
}
.price img{
  width: 97px;
  height: 111px;
}
.price h1{
font-family: 'PT Sans';
font-size: 30px;
line-height: 25px;
font-weight: 700;
letter-spacing: 0.025em;
color: #444444;
}

.product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.first{
  margin: 10px;
  display: flex;
  background-color: #80808033;
  width: 210px;
  height: 350px;
  flex-direction: column;
  justify-content: space-around;
}
.header_first{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_first img{
  width: 175px;
  height: 170px;
}
.header_first p{
  font-family: 'PT Sans';
  margin: 15px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.025em;
  color: #767676;
}
a.title_product{
text-decoration: none;
color:grey;
}
a.title_product:hover{
  text-decoration: underline; 
}
.footer_first{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer_first h3{
font-family: 'PT Sans';
font-size: 24px;
line-height: 18px;
font-weight: 700;
color: #444444;
}
.footer_first img{
  width: 28px;
  height: 21px;
}
a.footer_first:hover{
  text-decoration: underline;
}

.pagination {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  max-height:50px;
}

.pagination a {
  font-size:14px;
  color: grey;
  padding: 8px 14px;
  text-decoration: none;
}

.pagination a:hover
{  font-size: 20px;
  color: #444444;}

.line{
  background-color: grey;
  height:1px;
  margin:15px 10px;
}

.text{
  display:flex;

}
.text p{
  font-family: 'PT Sans';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #767676;
  padding:10px;
}
.secondP{
  text-align: justify; 
}

.page_footer{
  margin-top: auto;
  height: 200px;
  background-color: grey;
}
.page_footer .container {
  display: flex;
  align-items: center;
}

.footer_menu {
  padding-left:83px;
  padding-right: 90px ;
  width: auto;
  display: flex;
  flex-direction: column;
  color: white;
  list-style-type: none;
}

.footer_menu li{
  display: inline;
  line-height: 22px;
}

.footer_menu a{
font-family: 'PT Sans';
font-size: 14px;
line-height: 26px;
font-weight: 400;
text-decoration: underline;
letter-spacing: 0.025em;
color: #ffffff;
}


.footer_logo {
   margin-right: 7px ;
   padding-top: 8px;
}
.footertext1 p{
  padding: 0px 0px 60px 135px;
  font-family: 'PT Sans';
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.logo {
  margin: 2px 9px 80px;
  width: 36px;
  height: 38px;
}
.footertext2 {
  padding-left: 75px;
  width: auto;
  display: flex;
  flex-direction: row;
  color: white;
  list-style-type: none;
  align-items: flex-start;
}
.footertext2 p{
font-family: 'PT Sans';
font-size: 14px;
line-height: 22px;
font-weight: 400;
text-decoration: underline;
letter-spacing: 0.025em;
color: #ffffff;
text-decoration: none;
}
.container_footer {
  display:flex;
  padding:10px;
  width: 980px;
  margin: 0 auto;
}
 #contact-us{
   display:none;
 }
 .feedback a{
  text-decoration: none; 
  border-bottom: 1px dashed grey;
  color:grey;
 }
 .feedback{
  margin-right: 130px;
  margin-bottom: 80px;
 }
 